<div class="formCreate">
<h1 class="text-center text-light tituloCreate">Create a new Product:</h1>

<form class="form-auth text-center" action="/priv/create-have" method="post" enctype="multipart/form-data">
  <a class="gobackcontenedor2"href="/priv"><img class="gobackbtn" src="/images/chevron-left-solid.png" srcset=""></a>
  <div class="form-group">
    <label class="text-light" for="formGroupExampleInput">Title</label>
    <input name="title" type="text" class="form-control text-center inputCreate" id="formGroupExampleInput" placeholder="Title">
  </div>
   <div class="form-group">
    <label class="text-light" for="formGroupExampleInput2">Image</label>
    <input name="photo" type="file" class="form-control text-center inputCreate" id="formGroupExampleInput2">
  </div>
  
  <div class="form-group">
    <label class="text-light " for="formGroupExampleInput4">Description</label>
    <textarea name="description" type="text" class="form-control  inputDescription" id="formGroupExampleInput4" placeholder="Description here..."></textarea>
  </div>
  <div class="form-group">
    <label  class="text-light" for="formGroupExampleInput3">Category</label>
    <select name="category" type="text" class="form-control text-center inputCreate" id="formGroupExampleInput3" placeholder="category">
        <option value="drawings">Drawings</option>
        <option value="handmade">Handmade</option>
        <option value="wood">Wood</option>
        <option value="photography">Photography</option>
         </select>
  </div>

  <button class="btn btn-light text-light" type="submit"> Create! </button>
</form>
</div>

{{#if message}}
    <p class="text-light" >{{message}}</p>
   <button class="btn btn-light text-light" type="submit"><a href="/priv/">go back</a></button>
{{/if}}

