<form action="/priv/categories" method="post">
<div class="container text-center d-flex justify-content-center align-items-center filtro">
 <select class=" form-control filtro mr-3" name="category" type="text" class="form-control text-center" id="formGroupExampleInput3" placeholder="category"> 
        <option value="drawings">Drawings</option>
        <option value="handmade">Handmade</option>
        <option value="wood">Wood</option>
        <option value="photography">Photography</option>
</select>
<button class="btn btn-go btn-light text-light" type="submit">Go</button>
</div>
</form>

<div class="containerd text-center row">
{{#each products}}
    <div class="card" style="width: 18rem;">
      <a href="/priv/details/{{id}}"><img  src={{imgPath}} class="card-img-top imagen" alt="..."></a>
      <div  class="card-body ">
        <a href="/priv/details/{{id}}"><h5 class="card-title text-light"><i>{{title}}</i></h5></a>
         
      </div>
    </div>
    {{/each}}
   </div>
 </div>