<body class="indexcover">
<div class="text-center pt-3">
<div>
<a href="/auth/login"><button class="btn-negro-hover btn btn-light text-light text-center mb-5 log-btn" type="submit">Log in</button></a>
</div>
<div>
<a href="/auth/signup"><button class="btn-negro-hover btn btn-light text-light text-center mb-5 log-btn" type="submit">Sign up</button></a>
</div>
</div>   
</body>
