<h1 class="titulo2 text-light text-center">Notifications</h1>
<p class="text-center text-light">This user wants to exchange this creation</p>
<ul class="list-group p-5 text-justify">
  <li class="list-group-item mt-2">Pepe quiere tu producto</li>
</ul>


