<h1 class="titulo2 text-light text-center">Notifications</h1>
{{#each fullLikeList}}
<ul class="list-group p-5 text-justify">
  <li class="list-group-item mt-2 textNoti">
    <div class="d-flex justify-content-around align-items">
      <div><img class="imgProf"src="{{user.imgPath}}" alt="">
      </div>
      <div><p><b>{{user.username}}</b> liked one of your creations.</p>
      </div>
    <div><a class="navbar-brand profile2 arrow" href=""><img src="/images/chevron-down-solid.svg" srcset=""></a>
    </div>
    </div>
    

  <div class="text-center mt-3">
    <a class="btn m-2 btnGreen" href="">Accept</a>
    <a class="btn m-2 btnRed" href="">Refuse</a>
  </div>
</ul>
 
  </li>
{{/each}}


