

<div class="containero text-center mb-5">
  <div class="padre-details">
    
    <a class="gobackcontenedor"href="/priv"><img class="gobackbtn" src="/images/chevron-left-solid.png" srcset=""></a>
    
      <img src={{selectProduct.imgPath}} class="detailImg" alt="...">
      <div class="orden">
        <h5 class="text-light orden2">{{selectProduct.title}}</h5>
        <p class="text-light categoryText"><i>{{selectProduct.category}}</i></p>
        <p class="text-light descripText">{{selectProduct.description}}</p>
      </div>
    </div>
  </div>
  
 

